@charset "utf-8";
/* CSS Document */

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: #e8be70;
  text-decoration: none;
}
a:hover, a:focus {
  color: #b5cea3;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/*change structure of detail review page*/
#maincontent {
  background-color: #829c8e47;
  min-height: 100%;
  /*display: flex;
  flex-direction: column;*/
  /*width: 100%;*/ /*changed for 5s*/
  width: 100vw; /*for 5s*/
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 20px; /* changed */
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
#altTab {
  margin: 0;
  font-size: 16px;
}
nav {
  width: 100%;
  height: 65px;
  /*background-color: #252831;*/
  background-color: #333b40;
  text-align:center;
  /*added*/
  display: flex;
  flex-direction: column;
  padding-top: 13px;
/*  flex-wrap: wrap;
  align-content: center;
  justify-content: center;*/
}
nav h1 {
  margin: 0 auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 500; /*changed */
  letter-spacing: 8px;
  text-transform: uppercase;
}
/*review links above all*/
#breadcrumb {
    padding:6px 40px 10px;
    list-style: none;
    background-color: #829c8ec7; /* changed */
    font-size: 17px;
    margin: 0;
    /*width: calc(50% - 80px);*/
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #faff6e;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*height: 50px;*/
  height: 100%;
  background-color: rgba(51, 59, 63, 0.81);
  align-items: center;
  display: flex; /* added */
  justify-content: space-around;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  /*margin: 10px;*/
  margin: 7px;
  /*padding: 0 10px;*/
  padding: 0 5px;
  width: 180px;
}

/* ====================== Restaurant Listing ====================== */
/*clickable image is not deformed by this #restaurants-list li a */
#restaurants-list .clickimg {
  padding: 0;
}

#restaurants-list {
  background-color: #829c8e47;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* added */
  justify-content: center; /* centralized them all better */
}
#restaurants-list li {
  background-color: #fff;
  /*border: 2px solid #ccc;*/
  box-shadow: 9px 12px 12px -1px rgba(51, 59, 63, 0.81); /* added */
  font-family: Arial,sans-serif;
  /*margin: 15px;*/
  margin: 9px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #ad0000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #908875;
  /*border-bottom: 3px solid #eee;*/
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 10px 85px 10px; /* updated */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/*put map above the restaurant detail*/
.inside #map-container {
  background: blue none repeat scroll 0 0;
  /*height: 87%;*/
  /*position: fixed;
  right: 0;
  top: 80px;*/
  /*width: 50%;*/
  height: 58vh;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  /*margin-top: 50px; then cover h1 of restaurant name etc. */
}
.inside #footer {
  bottom: 0;
  /*position: absolute;*/
  /*position: fixed; for 5s*/
  /*width: 50%; for mobile first approach */
  /*width: 100%; for 5s*/
}
#restaurant-name {
  color:  rgba(51, 59, 63, 0.81);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 400;
  letter-spacing: 0;
  margin: 15px 0 30px;
  /*text-transform: uppercase;*/
  line-height: 1.1;
  padding-left: 70pt; /* added */
  letter-spacing: 2px; /* added */
}
#restaurant-img {
  width: 47%; /* update */
  padding: 0 25%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  text-align: center;
}
#restaurant-cuisine {
  background-color: rgba(51, 59, 63, 0.81);
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container {
  /*border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;*/
  /*padding: 140px 40px 30px;*/
  /*width: 50%;*/
  width: 100%;
  /*padding: 0 25%;  make website larger */
}

/*added*/
#restaurant-hours {
  margin: 0 auto;
}
#reviews-container {
  /*padding: 30px 40px 80px;*/
  /*added*/
  width: 100%;
  /*border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;*/
  /*padding: 0 10px 0 10px; makes white space mobile */

}
#reviews-container h2 {
  color: #333b3fcf;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: 2px; /* changed */
  padding-bottom: 1pt;
  padding-left: 70pt;
  /*text-align: center;*/
}
#reviews-list {
  margin: 0;
  /*padding: 0;*/
  padding: 0 15% 5% 15%;
}
#reviews-list li {
  background-color: #fff;
  /*border: 2px solid #f3f3f3;*/
  box-shadow: 9px 12px 12px -1px rgba(51, 59, 63, 0.81);
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 10px 15px 20px;
  position: relative;
  width: 100%; /* changed */
}
#reviews-list li p {
  margin: 7px 0px 10px; /* changed for mobile*/
  font-weight: 400;
  text-align: justify; /* added */
  font-size: 15px;
}
/* added */

#reviews-list li p:nth-child(1) {
  color: rgba(51, 59, 63, 0.81);
  font-weight: 600;
  display: inline-block;
  width: 50%; /* fits for mobile 46% when padding is list li p */
  /*text-align: left;*/
}
#reviews-list li p:nth-child(2) {
  color: #999;
  display: inline-block;
  width: 50%;
  text-align: right;
}
#reviews-list li p:nth-child(3) {
  color: #5b8cb1;
  text-align: right;
}
#restaurant-hours td {
  color: #666;
}


/* ====================== Media Queries ====================== */

@media (min-width: 319px) and (max-width: 690px) {
  td, th {
    font-size: 9pt ;
  }

  nav {
    height: 100px;
  }

  .filter-options {
    flex-flow: column;
    /* justify-content: center; */
    padding: 5px;
    width: auto;
  }

  .filter-options select {
    height: 31px;
    margin: 4px;
  }

  #restaurant-name {
    font-size: 15pt;
    padding-left: 25px;
    padding-top: 15px;
  }

  #reviews-container h2 {
    font-size: 15pt;
    padding-left: 25px;
    padding-top: 15px;
  }

  #restaurant-cuisine {
    font-size: 10pt;
    margin: 20px 0;
  }

  #reviews-list {
    padding: 0 17% 5% 8%;
  }
/*I do not need margin, with 50%*/
  #reviews-list li p {
    /*margin: 7px 7px 10px;*/
  }
  #reviews-list li p:nth-child(1) {
    width: 50%;
  }

  #reviews-list li p:nth-child(2) {
    width: 50%;
    text-align: right;
  }

  #reviews-list li p:nth-child(3) {
    text-align: left;
  }
}
/* update */
